	body{
		margin-top: 0px
		padding: 0px
		width: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	h1{
		font-family: "Arial" "Verdana" Sans-serif;
	}
	h2{
		font-family: "Arial" "Verdana" Sans-serif;
	}
	/* unvisited link */
	a:link {
   		color: #FFFFCC;
		text-decoration: none;
	}
	/* visited link */
		a:visited {
		color: #FFFFCC;
		text-decoration: none;
	}
	/* mouse over link */
	a:hover {
		color: #00FF00;
		text-decoration: none;
	}
	/* selected link */
	a:active {
		color: #FF00FF;
		text-decoration: none;
	}
	p{
		font-family: "Arial" "Verdana";
		color: white;
		margin-top: 20px;
		width: 600px;
	}

	li{
		margin-left: 50px;
	}
	
	#container{
		z-index:0;
		position:absolute;
		margin-top: 0px;
		height: 0px;
		width: 100%;
	}
	
	#info{
		z-index:0;
		border-radius: 25px;
		position:absolute;
		margin-left: 230px;
		margin-top: 20px;
		height: 600px;
		width: 70%;
		background: #1cacb6;
		color: white;
		padding: 30px;
	}
	#info h2{
		font-size: 12pt;
		font-weight: normal;
	}
	#research p{
		margin-top: 20px;
	}
	p a{
	}

	#span {
		clear:both;

		}	
