
.hint {
    display: none;
    opacity: 0;
    
    position: absolute;
    font-size: 0.4em;
    padding: 10px 20px;
    background: rgb(230,230,230);
    color: #000;
    width: 200px;
    top: 450px;
    left: 700px;
    border-radius: 15px;
    
    -webkit-transform: rotate(-20deg);
    -moz-transform:    rotate(-20deg);
    -ms-transform:     rotate(-20deg);
    -o-transform:      rotate(-20deg);
    transform:         rotate(-20deg);
    
    
    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
    -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
    -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.impress-enabled .hint { display: block }

.impress-on-cover .hint {
    
    opacity: 1;
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}


/* #introducing */

body.impress-on-introducing #statue { opacity: 0.3; }
body.impress-on-clientsheaders #introducing, body.impress-on-server #introducing, body.impress-on-speakingserver #introducing {opacity: 0}

#introducing p { text-align: center; }
#introducing p:first-child { font-size: 0.7em; }
#introducing p:nth-child(2) { font-size: 2em; }


p.logo { text-align: center; }
p.logo img { width: 200px; }
p.useragent { font-family: "Courier New", serif ; text-align: center; font-size: 0.6em; }

/* #jackiechan */

body.impress-enabled #jackiechan {text-align: center;}
body.impress-enabled #jackiechan img {width: 100%;}
body.impress-on-frontendvousment #jackiechan, body.impress-on-nokia #jackiechan, body.impress-on-titre4 #jackiechan {opacity: 0}

/* #overview */

#overview {display: block;}
body.impress-enabled #overview { opacity: 0; }

body.impress-on-overview #overview {opacity: 1;}

body.impress-enabled #overview div.presentation { text-align: left; position: absolute; top:535px; left:-130px; }


#big b {
    display: block;
    font-size: 250px;
    line-height: 250px;
}

#tiny {
    width: 500px;
    text-align: center;
}

#demo{
    padding-top: 30px;
    width: 50%;
    float: right;
}

#demo2{
    padding: 30px;
    align: center;
    width: 100%

}